:root {
    --main-width: min(80%, 45em);
    --font-size: 16px;
    --input-control-focus: slateblue;
    --info-border-color: rebeccapurple; 
    --info-background-color: azure;
    --result-font-color: azure;
    --header-image-width: 300px;
}

html {
    font-size: var(--font-size);
}

* {
    font-family: 'Rokkitt', serif;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    letter-spacing: 0.03em;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color:snow;
}

header img {
    width: var(--header-image-width);
    height: auto;
}

main{
    padding: 0 3em;
}

h1 {
    font-family: 'Press Start 2P', cursive;
}

input[type="button"] {
    margin: 1em 1em;
    cursor: pointer;
}

footer {
    font-size: 0.8rem;
    border-top: 1px solid;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    bottom: 0;
}

.tooltip {
    cursor: pointer;
    height: 1em;
    width: 1em;
}

.input-control {
    position: relative;
    width: var(--main-width);
}

.input-control:focus {
    outline-color: var(--input-control-focus);
}

.info {
    border:3px solid var(--info-border-color);
    border-radius: 3px;
    min-height: 3em;
    max-width: 20em;
    position: absolute;
    display: none;
    z-index: 5;
    background-color: var(--info-background-color);
    left: 50%;
}

.info.view {
    display: block;
}

#intro h1, p, #description {
    width: var(--main-width);
    margin: 0 auto;
}

#description {
    position: relative;
    text-align: left;
}

#result {
    position: relative;
    width: var(--main-width);
    min-height:15em;
    background-color: black;
    color:var(--result-font-color);
    margin: 2em auto;
    padding: 1em 2em;
}

@media only screen and (max-width: 480px) {
    :root {
        --font-size: 12px;
        --header-image-width: 200px;
        --main-width: 90%;
    }
}
